@charset "UTF-8";
/* CSS Document created by Defrederick Fagan, Spring 2019*/

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.6em;
	color: #FFFFFF;
	background-color: #C6FFC1;
	padding: 0 40px;
	margin: 0;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #BF6545;
	padding-left: 10px;
	margin: 4px;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
	background-color: #999938;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #49BF94;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #BF6545;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #BF6545;
	text-decoration: none;
	margin: -2px;
}
a:visited {
	font-weight: bold;
	color: #a8cc54;
	text-decoration: none;
}
a:hover {
	color: #00fff2;
}


/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}



/* table styles -------------------------------------- */
table {
	border: solid #BF6545 1px;
}
td {
	padding: 6px;
	border: solid #BF6545 1px;
}
th {
	font-weight: bold;
	background-color: #999938;
	text-align: center;
	padding: 6px;
	border: solid #BF6545 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #BF6545 1px;
}

img {
	border: solid #BF6545 1px;

}

iframe {
	border: solid #BF6545 1px;
	padding: 8px;
	margin: 8px;
}
/* DIV STYLES FOR PAGE LAYOUT */

#container{
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
	
}
#header{
	width: 100%;
	background-color: #49BF94;
	border-bottom: 1px ;
	 
}
#content{
	width: 600px;
	float: left;
	background-color: #49BF94;
	margin-left: auto;
}
#sidebar{
	width: 300px;
	float: left;
	
}
#sidebar p{
	padding: 10px;
}
#footer{
	width: 100%;
	background-color: #999938;
	padding-bottom: 20px;
	clear: both;
}
#footer p{
	margin: 0;
}